@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-share);

  /* EZForward colors */
  --color-ez-orange: #fb6817;
  --color-ez-blue: #276aa7;
  --color-ez-dark: #080f41;
  --color-ez-bg: #f1f5f9;

}


body {
  background: var(--background);
  color: var(--foreground);

}